<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рецепты &ndash;</title>
</head>
<body>
<a data-th-href="@{/customer/products/favourites}">Избранные рецепты</a>
<h1>Рецепты</h1>
<form method="get" data-th-action="@{/customer/products/list}">
    <label>Фильтр по названию: <input type="text" name="filter" data-th-value="${filter}"></label><br>
    <label>Фильтр по описанию: <input type="text" name="detailsFilter" data-th-value="${detailsFilter}"> <button type="submit">Поиск</button></label>
</form>
<ul>
    <li data-th-each="product : ${products}">
        <strong>
            <a data-th-text="${product.title}"
               data-th-href="@{/customer/products/{productId}(productId=${product.id})}"></a>
        </strong>
        <p data-th-text="${product.details}"></p>
    </li>
</ul>
</body>
</html>